<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>
<body>
<h1>Equipment Search</h1>
<form method="get">
    <input type="text" name="query" placeholder="Search equipment...">
    <button type="submit">Search</button>
</form>
<ul>
    {% for equipment in equipment_list %}
    <li>
        <a href="{% url 'list_equipment_user'  %}">{{ equipment.name }}</a>
        <p>{{ equipment.description }}</p>
    </li>
    {% endfor %}
</ul>
</body>
</html>